body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

.navbar .hamburger {
  display: none;
}

.navbar .left {
  font-size: 32px;
  font-weight: bold;
}

.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right img {
  width: 24px;
  height: 24px;
}

.navbar .right a {
  text-decoration: none;
  color: black;
}

.navbar .right a:hover {
  text-decoration: underline;
}

.navbar .hamburger {
  width: 50px;
  height: 50px;
}

.navbar .hamburger .bar1,
.bar2,
.bar3 {
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

.project {
  position: relative;
  display: flex;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}

.overlay.white {
  color: white;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.project-grid {
  display: grid;
  grid-template-areas:
    "eth eth alphabet"
    "eth eth traveler"
    "cube astro traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
  gap: 16px;
  width: 100%;
}

#eth {
  grid-area: eth;
}

#alphabet {
  grid-area: alphabet;
}

#traveler {
  grid-area: traveler;
}

#cube {
  grid-area: cube;
}

#astro {
  grid-area: astro;
}

#cup {
  grid-area: cup;
}

#insta {
  grid-area: insta;
}

#foam {
  grid-area: foam;
}

#dimensional {
  grid-area: dimensional;
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 100%;
  }

  .project-grid {
    max-width: 100%;
    grid-template-areas:
      "eth eth"
      "alphabet traveler"
      "cube astro"
      "insta insta"
      "cup foam"
      "dimensional dimensional";
  }
}

.footer {
  padding: 64px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .navbar {
    box-sizing: border-box;
    padding: 16px 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .right {
    display: none;
  }

  .footer {
    font-size: 14px;
    padding: 32px;
  }

  .project-grid {
    max-width: 100%;
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "traveler traveler"
      "cube astro"
      "insta insta"
      "cup cup"
      "foam foam"
      "dimensional dimensional";
    margin-top: 100px;
  }

  .project .overlay {
    font-size: 24px;
  }
}

.animateBar1 {
  animation: flipBar1 1s forwards;
}

.animateBar2 {
  animation: fadeBar2 1s forwards;
}

.animateBar3 {
  animation: flipBar3 1s forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
